/* GLOBAL STYLING */
html, body {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar {
    margin: 0 0 10px;
    background-color: #092168;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

.navbar-toggle-icon {
    color: #ffffff;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.9em;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

/* GRID & IMAGES */

.row {
    margin: 0 -10px;
}

.col-3, .col-6 {
    padding: 10px;
    /* margin: 0 -10px; */
}

.imgBlock {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* LANDING & SEARCH PAGE */

#landingPage {
    height: calc(100% - 76px);
}

#landingPage-bg {
    background:#ffffff url("../images/splash-airport.png") no-repeat;
    opacity: .8;
    height: 100%;
    transition: opacity .5s, height .5s;
}

#searchPage {
    height: calc(100% - 76px);
    transition: opacity .5s;
}

.searchBox {
    background-color: #03899C;
    height: 250px;
    padding: 20px;
    transition: opacity .5s;
}

/* SELECTION PAGE */

#selectionPage {
    height: calc(100% - 76px);
}

#selectionPage-bg {
    background:#ffffff url("../images/splash-map.png") no-repeat;
    background-size: cover;
    transition: opacity .5s, height .5s;
}

.breathing-room {
    background-color:#03899C;
    color: #ffffff;
    margin: 25px 15px;
}

#destinationImage {
    width: 100%;
    margin-bottom: 20px;
}

.table {
    color: #ffffff;
    margin-bottom: 0;
    text-align: center;
}

thead {
    background: #092168;
}

.tableFormat {
    padding: 1.25rem 0 0 0;
}

.table th {
    vertical-align: middle;
    font-weight: normal;
    font-size: 0.9rem;
}

#quoteBlock {
    background: #ff7a00 url("../images/stock10.jpg") no-repeat;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    opacity: .75;
    text-align: center;
    line-height: 182%;
    margin: 25px;
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
    border: none;
}

/* DESTINATION PAGE */

#destinationPage-bg {
    background:#03899C;
    background-size: cover;
    transition: opacity .5s, height .5s;
}

#progressResult {
    background: #092168;
    padding: 10px;
    margin: 0;
}

/* VISUAL EFFECTS */

.hidden-element {
    display: none;
}

.disappear {
    opacity: 0;
    height: 0 !important;
    transition: opacity .5s, height .5s;
}

/* BUTTONS + VFX */

.btn {
    background-color: #092168;
    border-color: none;
}

.home-btn, #login-info {
    color: #ff7a00;
    font-size: 1.3rem;
    cursor: pointer;
}

.home-btn {
    margin-right: 25px;
}

.orange-button, .orange-button:hover {
    background-color: #ff7a00;
    color: #ffffff;
    cursor: pointer;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -85px;
    margin-left: -170px;
    text-align: center;
}

.slide-button {
    height: 64px;
    display: block;
    border: 3px solid #03899C;
    border-radius: .25rem;
    margin: 15px;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #03899C;
    overflow: hidden;
    text-decoration: none !important;
    opacity: 1;
}
    
.slide-button .icon {
    margin-right: 6px;
}

.slide-primary, .slide-secondary {
    display: block;
    padding: 0 32px;
    line-height: 64px;
    transition: margin .4s;
}

.slide-primary {
    background-color: #03899C;
    color: #fff;
}

.slide-button:hover .slide-primary {
    margin-top: -64px;
    color: #03899C;
}

.login-button {
    height: 40px;
    display: block;
    border: 3px solid #FF7A00;
    border-radius: .25rem;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #FF7A00;
    overflow: hidden;
    text-decoration: none !important;
    margin-right: 6px;
    font-size: 1.3rem;
}

.login-primary, .login-secondary {
    display: block;
    padding: 0 18px;
    line-height: 38px;
    transition: margin .4s;
}

.login-primary {
    background-color: #FF7A00;
    color: #fff;
}

.login-button:hover .login-primary {
    margin-top: -40px;
    color: #FF7A00;
}

/* FORMATTING FOR MOBILE */

#kajakIsBroken {
    color: black;
}
