/* GLOBAL STYLING */
body {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    margin: 0 10px 10px;
    background-color: #092168;
    font-size: 1.5rem;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
}

.btn {
    background-color: #092168;
}

.home-btn, #google-login-btn {
    color: #C58700;
    font-size: 1.3rem;
    cursor: pointer;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.9em;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.hidden-element {
    display: none;
}

/* NEXT PHASE: FADE OUT PAGES
.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
} */

/* GENERAL */
.row {
    margin: 0;
}

.col-3, .col-6 {
    padding: 10px;
}

img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* SPLASH */

.splash {
    background-color: #03899C;
    height: 250px;
    padding: 20px;
}